@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* dark mode - default */
  --main-dark: #323d40;
  --secondary-dark: #2c3333;
  --highlight-1-dark: #b5c18e;
  /* light mode */
  --main-light: #fefded;
  --secondary-light: #f6f5f2;
  --highlight-1-light: #aac8a7;
  /* font colors */
  --white-text: #ffffff;
  --gray-text: #a9a9a9;
  /* font style */
  --main-ff: 'Anonymous Pro', monospace;
}

body {
  font-family: var(--main-ff);
}

.app--wrapper {
  background-color: var(--secondary-dark);
}

/* nav */
#nav {
  background-color: var(--main-dark);
}

#nav h1 {
  color: var(--white-text);
}

.nav--buttons button {
  color: var(--white-text);
  background-color: var(--secondary-dark);
}

/* main */
main {
  background: var(--secondary-dark);
}

.currBtn {
  background-color: var(--highlight-1-dark);
  color: var(--main-dark);
}

.card {
  color: var(--white-text);
  background-color: var(--main-dark);
}

.line {
  border: 1px solid;
  color: var(--secondary-dark);
}

.todayCard {
  background-color: var(--secondary-dark);
}

.filter-white {
  filter: brightness(0) invert(1);
}

.hourly--toggler {
  background-color: var(--secondary-dark);
}

/* footer */
footer {
  background-color: var(--main-dark);
  margin: 0 auto;
}

.github--wrapper {
  color: var(--white-text);
}
