@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* dark mode - default */
  --main-dark: #323d40;
  --secondary-dark: #2c3333;
  --highlight-1-dark: #b5c18e;
  /* light mode */
  --main-light: #aac8a7;
  --secondary-light: #dbefd4;
  --highlight-1-light: #95ff6c;
  /* font colors */
  --white-text: #ffffff;
  --gray-text: #a9a9a9;
  /* font style */
  --main-ff: 'Anonymous Pro', monospace;
}

html {
  scrollbar-width: none;
}

body {
  overflow: -moz-scrollbars-none;
}

/* color theme */
.white-text {
  color: var(--white-text);
}

.dark-text {
  color: var(--main-dark);
}

.placeholder-text {
  color: var(--gray-text);
}

.main-bg {
  background-color: var(--main-dark);
}

.second-bg {
  background-color: var(--secondary-dark);
}

.highlight-dark-bg {
  background-color: var(--highlight-1-dark);
}

.hightlight-light-bg {
  background-color: var(--highlight-1-light);
}

.light-bg {
  background-color: var(--main-light);
}

.second-light-bg {
  background-color: var(--secondary-light);
}

body {
  font-family: var(--main-ff);
}

.filter-white {
  filter: brightness(0) invert(1);
}

/* customs */
.second-bg li:not(:last-child) {
  border-bottom: 2px solid var(--main-dark);
}

.second-light-bg li:not(:last-child) {
  border-bottom: 2px solid var(--main-light);
}

li:first-child {
  border-radius: 8px 8px 0 0;
}

li:last-child {
  border-radius: 0 0 8px 8px;
}

.second-bg li:hover {
  background-color: var(--main-dark);
}

.second-light-bg li:hover {
  background-color: var(--main-light);
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--gray-text);
  border-radius: 10px;
}

/* loader - copied (css-loaders.com) */
/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

/* media queries */

@media only screen and (min-width: 1024px) {
  #nav {
    background-color: var(--secondary-dark);
  }

  #nav.light-bg {
    background-color: var(--main-light);
  }
}
